<template>
  <div class="row">
    <Poster @post='post' v-if='session' />
    <div class='col-md-12' id='listcounter'>一共碎碎念了 {{profile.posts || '...'}} 条。</div>
    <Cards v-for='p in posts.list' :key='p.id' :post='p' />
    <!--div class='col-md-12 loading' v-if='status === "next"'><button class='btn btn-primary'>再给点</button></div-->
    <div class='col-md-12 loading' v-if='$apollo.queries.posts.loading'><span>没在摸，在给了。</span></div>
    <div class='col-md-12 loading' v-else-if='posts.next'><span><button class='btn btn-primary' @click='fetchmoreposts'>再给点</button></span></div>
    <div class='col-md-12 loading' v-else><span>给完了。</span></div>
  </div>
</template>

<script>
import Poster from '@/components/Poster.vue'
import Cards from '@/components/Cards.vue'
import gql from 'graphql-tag'

export default {
  name: 'Home',
  props: ['profile'],
  components: {Poster, Cards},
  data() {
    return {
      posts: {},
      session: {},
      pager: 1
    }
  },
  async created() {
    if (typeof localStorage === 'undefined') return
    this.session = JSON.parse(localStorage.getItem('pfsession'))
  },
  methods: {
    async post() {
      // this.posts.list = []
      this.pager = 1
      this.$apollo.queries.posts.fetchMore({
        variables: {
          pager: this.pager
        },
        updateQuery: (_, { fetchMoreResult }) => {
          let results = fetchMoreResult
          results.getPosts.list = [... fetchMoreResult.getPosts.list]
          return results
        }
      })
    },
    async fetchmoreposts() {
      this.pager++
      this.$apollo.queries.posts.fetchMore({
        variables: {
          pager: this.pager
        },
        updateQuery: (previousResult, { fetchMoreResult }) => {
          let results = fetchMoreResult
          results.getPosts.list = [...previousResult.getPosts.list, ... fetchMoreResult.getPosts.list]
          return results
        }
      })
    }
  },
  metaInfo () {
    return {
      title: ``,
      meta: [{
        property: `og:site_name`,
        content: `${this.profile.fullname} 的碎碎念`
      }, {
        proverty: `og:url`,
        content: `${this.$globalconfig.website.domain}/`
      }, {
        proverty: `og:title`,
        content: `${this.profile.fullname} 的所有碎碎念`
      }, {
        proverty: `og:description`,
        content: `看看他都说了些什么……`
      }, {
        name: `description`,
        content: `看看他都说了些什么……`
      }]
    }
  },
  apollo: {
    posts: {
      query: gql`query getPosts ($pager: Int){
        getPosts(pager: $pager){
          list {
            id
            content
            pubdate
          }
          next
        }
      }`,
      variables: {
        pager: 1
      },
      update: data => {
        let res = data.getPosts
        for (let i in res.list) res.list[i].pubdate = parseInt(res.list[i].pubdate)
        return res
      }
    }
  }
}
</script>

<style scoped>
#listcounter {
  font-style: italic;
  color: gray;
  font-size: 24px;
}
.loading {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: gray;
}
</style>
