<template>
  <div>
    <h4>登录</h4>
    <form @submit.prevent="login">
      <div class="form-group">
        <label for="username">用户名</label>
        <input type="text" class="form-control" id="username" placeholder="JohnAppleseed" required>
      </div>
      <div class="form-group">
        <label for="password">密码</label>
        <input type="password" class="form-control" id="password" required>
      </div>
      <button type="submit" class="btn btn-primary">登录</button>
    </form>
  </div>
</template>

<script>
import gql from 'graphql-tag'
export default {
  name: 'Login',
  methods: {
    async login(e) {
      try {
        let sth = await this.$apollo.mutate({
          mutation: gql`mutation login ($username: String!, $password: String!){
            login(username: $username, password: $password){
              session
              token
            }
          }`,
          variables: {
            username: e.target[0].value,
            password: e.target[1].value
          }
        })
        sth = sth.data.login
        if (typeof localStorage === 'undefined') return
        localStorage.setItem('pfsession', JSON.stringify(sth))
        this.$router.replace('/')
        this.$toast.open(`欢迎回来。`, { duration : 3000 })
      } catch (e) {
        this.$toast.open(`${e}`, { duration : 3000 })
      }
    }
  },
  metaInfo () {
    return {
      title: `登录碎碎念 · `
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped></style>
