<template>
<div class='row'>
  <div class='col-md-12'>
    <div v-if='$apollo.queries.post.loading' class='loading'>
      获取碎碎念...
    </div>
    <div v-else>
      <div class='single-content'><vue-markdown>{{post.content}}</vue-markdown></div>
      <p id='metabar'>{{profile.fullname || '碎碎念用户'}}<br>{{pubdate}}</p>
      <hr>
      <p>{{profile.fullname || '碎碎念用户'}} 一共碎碎念了 {{profile.posts}} 次。不妨 <router-link to='/'>去看看</router-link>？</p>
    </div>
  </div>
</div>
</template>

<script>
import VueMarkdown from 'vue-markdown-v2'
import moment from 'moment'
import gql from 'graphql-tag'

export default {
  name: 'Post',
  props: ['profile'],
  components: { VueMarkdown },
  data() {
    return {
      post: {},
      status: 'loading'
    }
  },
  computed: {
    pubdate() {
      let sth = moment(this.post.pubdate).format('lll')
      return sth
    }
  },
  async created() {
    moment.locale('zh-cn')
  },
  methods: {},
  apollo: {
    post: {
      query: gql`query getPost ($id: String!){
        getPost(id: $id) {
          content
          pubdate
        }
      }`,
      variables () {
        return {
          id: this.$route.params.id,
        }
      },
      update: data => {
        let res = data.getPost
        res.pubdate = parseInt(res.pubdate)
        return res
      }
    }
  },
  metaInfo () {
    return {
      title: `${this.profile.fullname} 说：${this.post.content.slice(0, 20)}${this.post.content.length > 20 ? '...' : ''} · `,
      meta: [{
        property: `og:site_name`,
        content: `${this.profile.fullname} 的碎碎念`
      }, {
        proverty: `og:url`,
        content: `${this.$globalconfig.website.domain}/posts/${this.$route.params.id}`
      }, {
        proverty: `og:title`,
        content: `${this.profile.fullname} 说：`
      }, {
        proverty: `og:description`,
        content: this.post.content
      }, {
        name: `description`,
        content: this.post.content
      }]
    }
  }
}
</script>

<style scoped lang='scss'>
#metabar {
  color: gray;
  font-size: 18px;
}
.single-content {
  font-size: 30px;
}
.loading {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: gray;
}
.error {
  margin-top: 30px;
  color: gray;
  .errortitle {
    font-size: 30px;
  }
}
</style>
