<template>
  <div class='col-md-12'>
    <div class="card">
      <div class="card-body">
        <p class="card-text posttime"><router-link :to='`/posts/${post.id}`' :title='moment(post.pubdate).format("lll")'>{{moment(post.pubdate).fromNow()}}</router-link></p>
        <div class="card-text postcontent"><vue-markdown>{{post.content}}</vue-markdown></div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'
import VueMarkdown from 'vue-markdown-v2'
export default {
  name: 'Cards',
  props: ['post'],
  components: { VueMarkdown },
  async created() {
    moment.locale('zh-cn')
  },
  data() {
    return {
      moment
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang='scss'>
.card {
  margin-top: 20px;
}
.posttime {
  font-size: 14px;
  color: gray;
  a {
    color: gray;
  }
}
.postcontent {
  font-size: 20px;
}
</style>
