<template>
  <div class='col-md-12'>
    <div class="card">
      <div class="card-body">
        <div class="form-group">
          <label class="sr-only" for="postbox">编写碎碎念</label>
          <textarea :disabled='sending' class="form-control" id="postbox" rows="3" placeholder="说点什么吧..." v-model='content' />
        </div>
        <button :disabled='sending' class="btn btn-primary" @click='post' v-if='content'>碎碎念一下</button>
      </div>
    </div>
  </div>
</template>

<script>
import gql from 'graphql-tag'
export default {
  name: 'Poster',
  props: ['postnum'],
  data() {
    return {
      content: '',
      session: {},
      sending: false
    }
  },
  async created() {
    if (typeof localStorage === 'undefined') return
    this.session = JSON.parse(localStorage.getItem('pfsession'))
  },
  methods: {
    async post() {
      try {
        if (this.content === '') return this.$toast.open(`你不能碎碎念一则空内容。`, { duration : 3000 })
        this.sending = true
        let that = this
        await this.$apollo.mutate({
          mutation: gql`mutation sendPost ($content: String!){
            sendPost(content: $content)
          }`,
          variables: {
            content: that.content,
          }
        })
        this.$toast.open(`念完了。`, { duration : 3000 })
        this.sending = false
        this.content = ''
        this.$emit('post')
      } catch (e) {
        this.sending = false
        this.$toast.open(`未能发布碎碎念：${e}`, { duration : 3000 })
      }
    }
  }
}
</script>

<style scoped>
.card {
  margin-bottom: 30px;
}
</style>
