<template>
  <div>
    <img id='profile_avatar' class='avatar' :src='profile.avatar' />
    <div id="profile_fullname">{{profile.fullname || '碎碎念用户'}}</div>
    <div id="profile_bio">{{profile.bio || '沉默是金。'}}</div>
  </div>
</template>

<script>
export default {
  name: 'Profile',
  props: ['profile']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.avatar {
  border-radius: 50%;
  background-image: url('../assets/defaultavatar.png');
  background-position: center;
  background-size: cover;
}
#profile_avatar {
  width: 180px;
  height: 180px;
  margin-bottom: 20px;
}
#profile_fullname {
  font-size: 30px;
}
#profile_bio {
  font-size: 20px;
  margin-bottom: 20px;
}
</style>
