<template>
  <div class="row">
    <div class='col-md-12'>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <router-link to='/preference/security' class="nav-link active">安全性</router-link>
        </li>
      </ul>
    </div>
    <div class='col-md-12 s'>
      <h3>访问令牌与已登录的设备</h3>
      <p>以下是目前有效的登录设备，以及你申请过令牌的设备。请注意，在以下设备都可以以你的名义发布碎碎念、进行所有安全设置。因此，若此列表中出现你不认识的设备，请吊销对应令牌。</p>
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">令牌描述</th>
            <th scope="col">过期时间</th>
            <th scope="col">操作</th>
          </tr>
        </thead>
        <tbody v-if='$apollo.queries.tokens.loading'>
          <tr>
            <td colspan="3">加载...</td>
          </tr>
        </tbody>
        <tbody v-else>
          <tr v-for='token in tokens' :key='token.id'>
            <td>{{token.desc}} <span v-if='token.id === nowtoken' class="badge badge-secondary">当前浏览器</span></td>
            <td :title='token.vaild ? parseTime(token.vaild, false) : undefined'>{{token.vaild ? parseTime(token.vaild, true) : '不过期'}}</td>
            <td>
              <button class='btn btn-sm' :disabled='revoking' :class='{"btn-primary": token.id !== nowtoken, "btn-danger": token.id === nowtoken}' @click='revokeToken(token.id)'>
                {{ token.id === nowtoken ? '退出登录' : '吊销令牌' }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <p>如果需要使用第三方工具，请在此处申请一个令牌。建议为每一台设备单独设定一个令牌，并避免直接提供密码。</p>
      <form @submit.prevent='genToken'>
        <div class="form-group">
          <label for="gentoken-desc">新的令牌要用在哪？</label>
          <input :disabled='genatingtoken' class="form-control" id="gentoken-desc" aria-describedby="gentoken-desc-help" placeholder="ctOS 上的碎碎念客户端" required>
          <small id="gentoken-desc-help" class="form-text text-muted">描述你需要使用碎碎念的设备。</small>
        </div>
        <div class="form-group">
          <label for="gentoken-vaild">授权这个设备访问的期限</label>
          <select :disabled='genatingtoken' class="form-control" id="gentoken-vaild" required>
            <option :value='31536000000'>365 天</option>
            <option :value='15552000000'>180 天</option>
            <option :value='7776000000'>90 天</option>
            <option :value='2592000000'>30 天</option>
            <option :value='604800000'>7 天</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary">申请新令牌</button>
      </form>
    </div>
    <div class='col-md-12 s'>
      <h3>修改密码</h3>
      <p>请注意，修改密码不会导致退出登录及令牌失效。</p>
      <form @submit.prevent='changepwd' disabled>
        <div class="form-group">
          <label for="changepwd-old">旧密码</label>
          <input type="password" :disabled='changingpassword' class="form-control" id="changepwd-old" />
        </div>
        <div class="form-group">
          <label for="changepwd-new">新密码</label>
          <input type="password" :disabled='changingpassword' class="form-control" id="changepwd-new" aria-describedby="changepwd-new-help" v-model="newpwd">
          <small id="changepwd-new-help" class="form-text text-muted" v-if='newpwd'>你的新密码是：<code>{{newpwd}}</code></small>
        </div>
        <button type="submit" class="btn btn-primary">修改密码</button>
      </form>
    </div>
    <b-modal id="newtoken" title="新令牌信息" hide-footer>
      <p class="my-4">你的新令牌信息如下：</p>
      <p>Session: <code>{{newtoken.session}}</code><br>Token: <code>{{newtoken.token}}</code></p>
      <p>此信息将不会再显示第二次，因此请将其妥善粘贴至目标位置。</p>
    </b-modal>
  </div>
</template>

<script>
import moment from 'moment'
import gql from 'graphql-tag'
export default {
  name: 'Security',
  data() {
    return {
      tokens: [],
      nowtoken: '',
      newtoken: {},
      newpwd: '',
      revoking: false,
      genatingtoken: false,
      changingpassword: false
    }
  },
  created() {
    if (typeof localStorage === 'undefined') return
    this.nowtoken = JSON.parse(localStorage.getItem('pfsession'))
    this.nowtoken = this.nowtoken.session
  },
  methods: {
    async revokeToken(id) {
      if (this.nowtoken === id) {
        if (!confirm('即将退出在此浏览器登录。')) return
      }
      this.revoking = true
      try {
        await this.$apollo.mutate({
          mutation: gql`mutation revokeSession($id: String!) {
            revokeSession(id: $id)
          }`,
          variables: {
            id,
          }
        })
      } catch (e) {
        this.$toast.open(`未能吊销访问令牌：${e}`, { duration : 3000 })
      }
      if (this.nowtoken === id) {
        this.$toast.open(`已退出登录`, { duration : 3000 })
        if (typeof localStorage === 'undefined') return
        localStorage.removeItem('pfsession')
        this.$router.replace('/')
      } else {
        this.$toast.open(`令牌已吊销`, { duration : 3000 })
        await this.$apollo.queries.tokens.refetch()
        this.revoking = false
      }
    },
    async genToken(event) {
      this.genatingtoken = true
      let time = parseInt(event.target[1].value) + new Date().getTime()
      try {
        let newtoken = await this.$apollo.mutate({
          mutation: gql`mutation generateSession ($vaild: String!, $desc: String!){
            generateSession(vaild: $vaild, desc: $desc){
              session,
              token
            }
          }`,
          variables: {
            vaild: `${time}`,
            desc: event.target[0].value
          }
        })
        this.newtoken = newtoken.data.generateSession
        event.target.reset()
        this.$bvModal.show('newtoken')
        this.$apollo.queries.tokens.refetch()
      } catch (e) {
        this.$toast.open(`未能生成访问令牌：${e}`, { duration : 3000 })
      }
      this.genatingtoken = false

    },
    parseTime(unixtime, relative) {
      moment.locale('zh-cn')
      if (relative) return moment(unixtime).fromNow()
      else return moment(unixtime).format('lll')
    },
    async changepwd(event) {
      try {
        this.changingpassword = true
        await this.$apollo.mutate({
          mutation: gql`mutation changePassword ($oldpassword: String!, $newpassword: String!){
            changePassword(oldpassword: $oldpassword, newpassword: $newpassword)
          }`,
          variables: {
            oldpassword: event.target[0].value,
            newpassword: event.target[1].value
          }
        })
        event.target.reset()
        this.newpwd = ''
        this.$toast.open(`密码已修改。`, { duration : 3000 })
      } catch (e) {
        this.$toast.open(`未能修改密码：${e}`, { duration : 3000 })
      }
      this.changingpassword = false
    }
  },
  apollo: {
    tokens: {
      query: gql`query getSessions {
        getSessions{
          id,
          desc,
          vaild
        }
      }`,
      update: data => {
        let res = data.getSessions
        for (let i in res) res[i].vaild = parseInt(res[i].vaild)
        return res
      }
    },

  },
  metaInfo () {
    return {
      title: `安全偏好设置 · `
    }
  }
}
</script>

<style lang="scss" scoped>
.s {
  margin-top: 30px;
}
.s:last-child {
  margin-bottom: 30px;
}
</style>