<template>
  <div class="row" id="app">
    <div class='col-md-4'>
      <Profile :profile='profile' />
    </div>
    <div class='col-md-8'>
      <router-view @addpostnum='profile.posts++' :profile='profile' />
    </div>
  </div>
</template>

<script>
import Profile from '@/components/Profile.vue'
import gql from 'graphql-tag'
export default {
  name: 'App',
  components: {Profile},
  data() {
    return {
      profile: {}
    }
  },
  apollo: {
    profile: {
      query: gql`query getUser{
        getUser {
          username,
          fullname,
          bio,
          avatar,
          posts
        }
      }`,
      update: data => data.getUser
    }
  },
  metaInfo () {
    return {
      title: `碎碎念`,
      titleTemplate: `%s${this.profile.fullname} 的碎碎念`
    }
  }
}
</script>

<style>
.container {
  font-family: Avenir, 'Noto Sans CJK SC', 'Noto Sans CJK TC', sans-serif !important;
}
#app {
  margin-top: 30px;
}
</style>
